*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.quadrato{
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
#grill{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
