*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("../img/sfondo.jpg");
}
.quadrato{
  width: 150px;
  height: 150px;
  border: 1px solid black;
}
#grill{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: #7FFF00;
}
